header {
    background-color: #070645;
    width: 100%;
}

header section {
    max-width: 950px;
    margin: 0 auto;
    /* Esto corresponde a básicamente todo el HEADER. */
    /* Para hacerlo un contenedor flexible y alinear elementos mejor. */
    display: flex;
    /* Para separar cada item, solo teniendo espacio entre ellos. */
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #070645;
}

header h1 {
    /* Esto corresponde al titulo de la pagina y al logo. */
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0;
}

header nav,
header form {
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
    gap: 25px;
}

header a {
    /* Solo para todo el texto del header.*/
    text-decoration: none;
    color: antiquewhite;
}

header nav a:hover {
    /* Los items de header cuando les paso el ratón por arriba.*/
    color: #ff0000;
}

#log {
    padding: 5px 10px;
    background-color: green;
    font-size: 15px;
    font-weight: bold;
    color: antiquewhite;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#log:hover {
    background-color: rgb(0, 90, 0);
    color: rgb(231, 218, 200);
}

#search {
    display: flex;
    align-items: center;
    gap: 0;
}

#search input[type="text"] {
    padding: 3px 0px;
    background-color: rgb(160, 160, 160);
    border: none;
    border-radius: 5px 0px 0px 5px;
    font-size: 15px;
}

#search input[type="text"]:hover {
    background-color: rgb(145, 145, 145);
}

#search input[type="text"]:focus {
    background-color: white;
    color: black;
    border-color: black;
}

#search button[type="submit"] {
    padding: 2px 5px;
    background-color: rgb(200, 200, 200);
    border: none;
    border-radius: 0px 5px 5px 0px;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
}

#search button[type="submit"]:hover {
    background-color: rgb(185, 185, 185);
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: antiquewhite;
    background-color: #062445;
    margin: 0;
    padding: 0;
}

.footer {

    background-color: #2c3440;
    padding: 32px 0;
}


.footer ul {

    background-color: #2c3440;
    list-style: none;

    display: flex;
    /*en fila*/

    gap: 24px;
}

.link-social {
    text-decoration: none;
    color: red;
    display: inline-block;
    /*permite que se mueva y aun asi mantenga su espacio*/
    transition: transform 0.2s ease;
    font-size: 15px;
}

.link-social:hover {
    color: #00e054;
    transform: translateY(-2px);
}